@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.navbarr {
  position: sticky;
  top: 0;
  background-color: #fbf8f3;
  z-index: 1;
  border-bottom: 1px solid #007c7c;
  opacity: 0.9;
  padding: 0.5rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1 !important;
}

.nav-item {
  color: #000;
  font-size: 0.9rem;
}

.nav-item:hover {
  color: #064439;
  transition: all 0.3s ease-in-out;
}

.dropdown-item {
  padding: 1rem;
  font-weight: 500;
}

.dropdown-item:active {
  background-color: inherit;
}

.dropdown-item:hover {
  color: #006a6a;
}

.dropdown-menu {
  min-width: 20px !important;
  padding: 0;
}

.home-icon,
.user-icon {
  font-size: 1rem;
  border: 1px solid #006a6a;
  border-radius: 30%;
  padding: 0.6rem;
  color: #fbf8f3;
  background-color: #006a6a;
}

.home-icon:hover,
.user-icon:hover {
  background-color: #006868e3;
}

.nav-title {
  font-family: "Lobster", cursive;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #006868e3;
}
